<section>
  <form action="/login" method="post">
    <fieldset>
      <legend>Modulo di login</legend>
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" value="<%= email %>"/>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" value="<%= password %>"/>
      </div>
      <div>
        <input type="submit" value="Login"/>
      </div>
    </fieldset>
  </form>
</section>

<section>
  <form action="/api/users" method="post">
    <fieldset>
      <legend>modulo di registrazione</legend>
      <div>
        <label for="name">Nome:</label>
        <input type="text" name="name" value="<%= name %>"/>
      </div>
      <div>
        <label for="surname">Cognome:</label>
        <input type="text" name="surname" value="<%= surname %>"/>
      </div>
      <div>
        <label for="email">Email (obbligatorio):</label>
        <input type="text" name="email" value="<%= email %>" required/>
      </div>
      <div>
        <label for="password">Password (obbligatorio):</label>
        <input type="password" name="password" value="<%= password %>" required />
      </div>
      <div>
        <input type="submit" value="Registrati ai servizi"/>
      </div>
    </fieldset>
  </form>
</section>
